@import url('https://fonts.googleapis.com/css?family=Lemon');

* {
  box-sizing: border-box;

}

html, body {
	margin: 0 auto;
    min-height: 100%;
    font-family: sans-serif;
}

body {
	background-color: rgba(243, 242, 242, 0.05);
}

#main {
	width: 60%;
  	padding-left: 5%;
  	padding-right: 5%;
  	margin: 0 auto;
}

#main-con {
	margin-top: 4%;
	margin-bottom: 4%;
	box-shadow: 1px 1px 14px 1px #929292d1;
	text-align: center;
	font-family: arial;
}

#header {
  	text-align: center;
	background-color: rgba(13, 31, 115, 0.86);
}

#header-inner {
	padding: 2% 0;
}

#title {
	font-family: 'Lemon', Arial;
	font-weight: bold;
  	text-align: center;
	margin: 0 auto;
	padding: 4% 0;
	font-size: 3vmax;
	line-height: 1.5;
	text-transform: uppercase;
	color: whitesmoke;
}

#survey {
	background-color: rgba(243, 243, 243, 0.82);/*rgba(234, 234, 234, 0.45);*/   
	margin: 0 auto;
}

#survey-inner {
	padding: 3% 4%;
	text-align: justify;
	font-family: 'Roboto', sans-serif;
}

#description {
	margin: 0 auto;
	text-align: center;
	font-size: 21px;
	font-family: Tahoma;
	padding: 3% 0;
}

#survey-form {
	width: 80%;
	margin: auto;
}

.questions {
	padding-top: 3%;
	display: block;
}

.questions:hover {
	background-color: #fefefe;	
}

label {
	padding: 2% 4%;
	display: block;
	font-size: 17px;
}

.group {
	display: block;
	padding-right: 3%;
	padding-left: 3%;
}

input {
	font-size: 17px;
	background-color: #fff;
	width: 100%;
	padding: 9px 11px 9px 17px;
	color: #2980b9;
	border: 1px solid rgba(0,0,0,0);
	border-bottom-color: rgba(140, 146, 185, 0.65);
}

select {
	font-size: 15px;
	background-color: #fff;
	width: 100%;
	padding: 11px 13px 11px 17px;
	border: 1px solid rgba(0,0,0,0);
	border-bottom-color: rgba(140, 146, 185, 0.65);
}

input:focus, input[text = text]:focus, textarea:focus, select:focus {
	background-color: #ffffff;
	border: 1px solid #2980b9;
	outline: none;
}

input[type = checkbox] {
	width: 12%;
	margin: 1% auto;
	display: inline-block;
}

input[type = radio] {
	width: 12%;
	margin: 1% auto;
	display: inline-block;
}

#others {
	width: 100%;
	display: flex;
}

#of {
	text-align: justify;
	padding: 13px 15px;
	width: 30%;
	display: inline-block;
}

#input-of {
	width: 70%;
	display: inline-block;
}

#suggest {
	width: 100%;
	margin: 0 2%;
}

textarea {
	border: 1px solid rgba(0,0,0,0);
	border-bottom-color: rgba(140, 146, 185, 0.65);
	padding: 3px 3px;
}

.bt-primary {
	width: 30%;
	display: block;
	text-align: center;
	padding: 1% 2%;
	margin: 1% auto;
  	border: 1px solid #2980b9;
  	font-size: 13px;
  	line-height: 1.7;
    text-decoration: none;
    outline: 0px;
  	background-color: transparent;
  	color: #0d5486;
  	border-radius: 4px!important;
} 

.bt-primary:hover {
	color: #f6f6f6;
  	background-color: #4c79b5!important;
}

footer {
	background-color: rgba(14, 16, 19, 0.88); /*2b2d32 d5d5d6*/
	padding: 3% 0;
	font-size: 15px;
	text-align: center;
	font-family: arial;
	color: #eee;
}

footer a {
	color: #eee;
	text-decoration:none;
}

@media screen and (max-width: 586px) {
	#main {
		padding: 0;
		margin: 0;
		height: 100%;
	}

	#main-con {
		padding: 0;
		margin: 0;
	}

	#survey-inner p {
		font-size: 16px;
		padding: 1% 0!important;
	}

	.questions {
		font-size: 13px;
		padding: 1% 0!important;
		display: block;
	}

	label {
		padding: 0;
		width: 100%;
	}

	.group {
		width: 100%;
	}

	.bt-primary {
		font-size: 11px;
		line-height: 1.6;
		width: 40%;
	}

	footer {
		padding: 5% 0;
	}
}
